In [1]:
import pandas as pd
import numpy as np

In [2]:
application_train = pd.read_csv('application_train.csv')
application_train.head(2)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
application_test = pd.read_csv('application_test.csv')
application_test.head(2)

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100001,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,100005,Cash loans,M,N,Y,0,99000.0,222768.0,17370.0,180000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0

In [4]:
# Handle missing values in application_train

# Threshold for dropping columns with missing values > 70%
missing_threshold = 70.0

# Calculate missing percentage for each column
missing_percentages = application_train.isnull().mean() * 100

# Identify columns to drop
columns_to_drop = missing_percentages[missing_percentages > missing_threshold].index

# Drop columns
application_train_cleaned = application_train.drop(columns=columns_to_drop)

# Print dropped columns
print("Dropped Columns (More than 70.0% Missing Values):")
print(columns_to_drop)

# Print remaining missing values summary
remaining_missing_values = application_train_cleaned.isnull().mean() * 100
remaining_missing_values = remaining_missing_values[remaining_missing_values > 0]

print("\nRemaining Missing Values Summary:")
print(remaining_missing_values)

# Save dropped columns for consistency with application_test
dropped_columns_train = list(columns_to_drop)

# Apply the same dropping to application_test
application_test_cleaned = application_test.drop(columns=dropped_columns_train, errors='ignore')

# Print confirmation
print(f"\nDropped {len(dropped_columns_train)} columns from both application_train and application_test.")

Dropped Columns (More than 70.0% Missing Values):
Index([], dtype='object')

Remaining Missing Values Summary:
AMT_ANNUITY                    0.003902
AMT_GOODS_PRICE                0.090403
NAME_TYPE_SUITE                0.420148
OWN_CAR_AGE                   65.990810
OCCUPATION_TYPE               31.345545
                                ...
AMT_REQ_CREDIT_BUREAU_DAY     13.501631
AMT_REQ_CREDIT_BUREAU_WEEK    13.501631
AMT_REQ_CREDIT_BUREAU_MON     13.501631
AMT_REQ_CREDIT_BUREAU_QRT     13.501631
AMT_REQ_CREDIT_BUREAU_YEAR    13.501631
Length: 67, dtype: float64

Dropped 0 columns from both application_train and application_test.

In [5]:
# Check for missing values (exact count and percentage)
missing_values = application_train.isnull().sum()
missing_percent = (missing_values / len(application_train)) * 100

missing_df = pd.DataFrame({
    'Feature': application_train.columns,
    'Missing Count': missing_values,
    'Missing Percentage': missing_percent
}).reset_index(drop=True)

print("\nMissing Values Summary:")
print(missing_df.sort_values(by='Missing Percentage', ascending=False))

Missing Values Summary:
                     Feature  Missing Count  Missing Percentage
76           COMMONAREA_MEDI         214865           69.872297
48            COMMONAREA_AVG         214865           69.872297
62           COMMONAREA_MODE         214865           69.872297
70  NONLIVINGAPARTMENTS_MODE         213514           69.432963
56   NONLIVINGAPARTMENTS_AVG         213514           69.432963
..                       ...            ...                 ...
15         NAME_HOUSING_TYPE              0            0.000000
14        NAME_FAMILY_STATUS              0            0.000000
13       NAME_EDUCATION_TYPE              0            0.000000
12          NAME_INCOME_TYPE              0            0.000000
0                 SK_ID_CURR              0            0.000000

[122 rows x 3 columns]

In [6]:
# Threshold for dropping columns with missing values > 20%
missing_threshold = 20.0

# Calculate missing percentage for each column
missing_percentages = application_train.isnull().mean() * 100

# Identify columns to drop
columns_to_drop = missing_percentages[missing_percentages > missing_threshold].index

# Drop columns from application_train
application_train_cleaned = application_train.drop(columns=columns_to_drop)

# Print dropped columns
print("Dropped Columns (More than 20.0% Missing Values):")
print(columns_to_drop)

# Print remaining missing values summary
remaining_missing_values = application_train_cleaned.isnull().mean() * 100
remaining_missing_values = remaining_missing_values[remaining_missing_values > 0]

print("\nRemaining Missing Values Summary (After Dropping >20%):")
print(remaining_missing_values)

# Apply the same dropping to application_test
application_test_cleaned = application_test.drop(columns=columns_to_drop, errors='ignore')

# Print confirmation
print(f"\nDropped {len(columns_to_drop)} columns from both application_train and application_test.")

Dropped Columns (More than 20.0% Missing Values):
Index(['OWN_CAR_AGE', 'OCCUPATION_TYPE', 'EXT_SOURCE_1', 'APARTMENTS_AVG',
       'BASEMENTAREA_AVG', 'YEARS_BEGINEXPLUATATION_AVG', 'YEARS_BUILD_AVG',
       'COMMONAREA_AVG', 'ELEVATORS_AVG', 'ENTRANCES_AVG', 'FLOORSMAX_AVG',
       'FLOORSMIN_AVG', 'LANDAREA_AVG', 'LIVINGAPARTMENTS_AVG',
       'LIVINGAREA_AVG', 'NONLIVINGAPARTMENTS_AVG', 'NONLIVINGAREA_AVG',
       'APARTMENTS_MODE', 'BASEMENTAREA_MODE', 'YEARS_BEGINEXPLUATATION_MODE',
       'YEARS_BUILD_MODE', 'COMMONAREA_MODE', 'ELEVATORS_MODE',
       'ENTRANCES_MODE', 'FLOORSMAX_MODE', 'FLOORSMIN_MODE', 'LANDAREA_MODE',
       'LIVINGAPARTMENTS_MODE', 'LIVINGAREA_MODE', 'NONLIVINGAPARTMENTS_MODE',
       'NONLIVINGAREA_MODE', 'APARTMENTS_MEDI', 'BASEMENTAREA_MEDI',
       'YEARS_BEGINEXPLUATATION_MEDI', 'YEARS_BUILD_MEDI', 'COMMONAREA_MEDI',
       'ELEVATORS_MEDI', 'ENTRANCES_MEDI', 'FLOORSMAX_MEDI', 'FLOORSMIN_MEDI',
       'LANDAREA_MEDI', 'LIVINGAPARTMENTS_MEDI', 'LIVINGAREA_MEDI',
       'NONLIVINGAPARTMENTS_MEDI', 'NONLIVINGAREA_MEDI', 'FONDKAPREMONT_MODE',
       'HOUSETYPE_MODE', 'TOTALAREA_MODE', 'WALLSMATERIAL_MODE',
       'EMERGENCYSTATE_MODE'],
      dtype='object')

Remaining Missing Values Summary (After Dropping >20%):
AMT_ANNUITY                    0.003902
AMT_GOODS_PRICE                0.090403
NAME_TYPE_SUITE                0.420148
CNT_FAM_MEMBERS                0.000650
EXT_SOURCE_2                   0.214626
EXT_SOURCE_3                  19.825307
OBS_30_CNT_SOCIAL_CIRCLE       0.332021
DEF_30_CNT_SOCIAL_CIRCLE       0.332021
OBS_60_CNT_SOCIAL_CIRCLE       0.332021
DEF_60_CNT_SOCIAL_CIRCLE       0.332021
DAYS_LAST_PHONE_CHANGE         0.000325
AMT_REQ_CREDIT_BUREAU_HOUR    13.501631
AMT_REQ_CREDIT_BUREAU_DAY     13.501631
AMT_REQ_CREDIT_BUREAU_WEEK    13.501631
AMT_REQ_CREDIT_BUREAU_MON     13.501631
AMT_REQ_CREDIT_BUREAU_QRT     13.501631
AMT_REQ_CREDIT_BUREAU_YEAR    13.501631
dtype: float64

Dropped 50 columns from both application_train and application_test.

In [8]:
# Separate numeric and categorical columns
numeric_columns = application_train_cleaned.select_dtypes(include=['float64', 'int64']).columns
numeric_columns = numeric_columns.drop('TARGET', errors='ignore')  # Exclude TARGET for imputation

categorical_columns = application_train_cleaned.select_dtypes(include=['object']).columns

# Imputation for numerical columns
numeric_imputer = SimpleImputer(strategy='median')
numeric_imputer.fit(application_train_cleaned[numeric_columns])  # Fit on training data

application_train_cleaned[numeric_columns] = numeric_imputer.transform(application_train_cleaned[numeric_columns])
application_test_cleaned[numeric_columns] = numeric_imputer.transform(application_test_cleaned[numeric_columns])

# Imputation for categorical columns
categorical_imputer = SimpleImputer(strategy='most_frequent')
categorical_imputer.fit(application_train_cleaned[categorical_columns])  # Fit on training data

application_train_cleaned[categorical_columns] = categorical_imputer.transform(application_train_cleaned[categorical_columns])
application_test_cleaned[categorical_columns] = categorical_imputer.transform(application_test_cleaned[categorical_columns])

# Verify missing values are handled
print("\nMissing Values After Imputation (Train):")
print(application_train_cleaned.isnull().sum().sum())

print("\nMissing Values After Imputation (Test):")
print(application_test_cleaned.isnull().sum().sum())

Missing Values After Imputation (Train):
0

Missing Values After Imputation (Test):
0

In [9]:
# Save the cleaned datasets
application_train_cleaned.to_csv("application_train_cleaned.csv", index=False)
application_test_cleaned.to_csv("application_test_cleaned.csv", index=False)

print("Cleaned datasets saved successfully!")

Cleaned datasets saved successfully!